.custom-header {
    border-radius: 0;
    border-bottom: 2px solid #FFF;
    background: linear-gradient(62deg, #5704E0 -6.64%, #F331EA 61.3%, #950085 97.54%, #9E0099 151.12%);
    box-shadow: 0px -5px 70px 0px rgba(255, 255, 255, 0.50);
    margin: 0;
    position: relative;
}

.custom-rectangle {
    margin: 0;
    border-radius: 0;
    border-bottom: 0px solid #ffffff;
}

.custom-row {
    margin: 18px;
}

.custom-button {
    width: 100%;
    max-width: 150px;
    background: linear-gradient(130deg, #792CFC 3%, #B23293 57%, #6D479C 100%);
    box-shadow: 0px 0px 59.6px rgba(241, 33, 119, 0.20);
    border-radius: 100px;
}

.custom-button-link {
    color: #ffffff;
    text-decoration: none;
}
/*  */
#slider-mobil {
    height: 800px;
    background-image: url(/public/images/section.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-content {
    text-align: center;
}

.slider-title {
    text-align: center;
}

.slider-text {
    margin: 20px;
    text-align: center;
}
/*  */
.custom-fluid {
    margin: 5%;
}

.custom-content {
    display: inline-block;
    align-content: center;
}

.custom-title {
    margin-top: 5%;
}

.custom-subtitle {
    margin-top: 5%;
}

header .custom-button {
    margin-top: 0;
    width: 50%;
}
.custom-button {
    margin-top: 30px;
    border-radius: 100px;
    border: 1px solid var(--uxx, #5505D9);
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.71) 100%);
    box-shadow: 0px 0px 20.2px 0px rgba(241, 33, 119, 0.50);
    width: 100%;
    max-width: 60%;
}

.custom-button-inner {
    padding: 8px;
    border-radius: 100px;
    border: 1px solid var(--uxx, #5505D9);
}

.custom-button-link {
    color: #7620C6;
    text-decoration: none;
}
.services {
    /* Add your custom styles here */
    padding: 60px 0;
    background-color: #f8f9fa; /* Example background color */
}

.services .row {
    margin-top: 7%; /* Adjust as needed */
}

.services .service-item {
    margin: 15px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.services .service-item img {
    max-width: 100%;
    height: auto;
}

.services .service-item h3 {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #333;
}

.services .service-item p {
    font-size: 1rem;
    color: #666;
}

.services .custom-btn {
    margin-top: 30px;
    background: linear-gradient(130deg, #792CFC 3%, #B23293 57%, #6D479C 100%);
    box-shadow: 0px 0px 59.6px rgba(241, 33, 119, 0.20);
    border-radius: 100px;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
}

.services .custom-pagination {
    margin-top: 40px;
    text-align: center;
}

.services .custom-pagination .prev-btn,
.services .custom-pagination .next-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.services .custom-pagination .counter {
    margin: 0 15px;
    font-size: 16px;
}
/*  */
/* Targeting the .transform section */
.transform {
    padding: 60px 0;
}

.transform .content-container {
    margin: 5%;
}

.transform .main-heading {
    margin-top: 2%;
    font-weight: 900;
}

.transform .sub-heading {
    margin-top: 5%;
}

.transform .background-image-container {
    height: auto;
    background-size: cover;
    background-image: url('/public/images/robot.png');
}

.transform .image-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transform .culture-image {
    width: 90%;
    padding: 20px 10px;
}

.transform .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.transform .description {
    font-size: 14px;
}

.transform .custom-btn {
    margin-top: 50px;
    width: 40%;
    background: #fff;
    box-shadow: 0px 0px 59.6px rgba(241, 33, 119, 0.20);
    border-radius: 100px;
}

.transform .btn-content {
    padding: 5px;
}

.transform .btn-link {
    color: #7620C6;
}
.testimonials_box .testimonials_background {
    background: linear-gradient(80deg, #5704E0 -13.11%, #F331EA 56.42%, #950085 105.68%, #9E0099 105.68%);
    box-shadow: 0px 22px 73.1px 0px rgba(0, 0, 0, 0.20);
}

.testimonials_box .testimonials_content {
    padding: 70px;
}

.testimonials_box .testimonials_heading {
    color: #FFF;
}

.testimonials_box .testimonials_description {
    color: #FFF !important;
}

.testimonials_box .testimonials_number .number {
    color: #FFF;
}

.testimonials_box .testimonials_client {
    color: #FFF;
}

.testimonials_box .testimonials_button {
    margin-top: 30px;
    width: 40%;
    background: linear-gradient(130deg, #792CFC 3%, #B23293 57%, #6D479C 100%);
    box-shadow: 0px 0px 59.6px rgba(241, 33, 119, 0.20);
    border-radius: 100px;
}

.testimonials_box .testimonials_button_inner {
    padding: 5px;
    border-radius: 20px;
    border: 1px #ffffff solid;
}

.testimonials_box .testimonials_button_text {
    color: #ffffff;
}

.testimonials_box .testimonials_carousel_container {
    padding: 70px;
}

.testimonials_box .testimonial_card {
    justify-content: center;
    display: flex;
}

.testimonials_box .testimonial_card_header img {
    width: 100%;
}

.testimonials_box .testimonial_card_body h3,
.testimonials_box .testimonial_card_body .position,
.testimonials_box .testimonial_card_body .description {
    text-align: center;
}
/*  */


.menu-level-1 {
    position: absolute;
    left: 0;
    width: 100%;
    background: 0 0;
    z-index: 20;
    top: 109px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transform: scale(.65);
    transform-origin: top center;
    box-shadow: 0 14px 11px -2px rgb(0 0 0 / 12%);
    transition: all .3s ease-in-out, opacity .2s ease-in-out;
}
.hover-stable-line .menu-level-1 {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
div#navbarNavDropdown {
    position: initial;
}
.menu-subs-inner ul {
    display: flex;
    padding: 0;
}

.menu-subs-inner ul > div:first-child {
    width: 30%;
    background: linear-gradient(193deg, #5704E0 -14.96%, #F331EA 89.97%, #9E0099 109.32%, #950085 251.68%);
    display: flex;
    align-items: center;
}

.menu-subs-inner ul >div {
    padding: 40px;
}

.menu-subs-inner ul >div:last-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.menu-subs-inner ul >div:last-child ul {
    display: flex;
    flex-direction: column;
}
a:hover {
    text-decoration: none;
    transition: all .25s ease-in-out;
  }
  
 
  a {
    text-decoration: none;
  
  }
  .menu-subs-inner ul > div:first-child li {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    justify-content: left;
    align-items: flex-start;
}

.menu-subs-inner ul >div:last-child li a {
    color: #000;
    font-family: Nasalization;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
    text-transform: uppercase;
}

.img----right {}

.img----right {
    height: 289px;
}

.img----right img {
    height: 100%;
    width: 100%;
}

.menu-subs-inner ul > div:first-child li p {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 181.25% */
}

.menu-subs-inner ul > div:first-child h2 {
    color: #FFF;
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #FFF;
    font-family: Nasalization;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 87.5% */
    text-transform: uppercase;
}

.menu-subs-inner ul > div:first-child button.btn {
    display: inline-flex;
    min-width: 58px;
    padding: 16px 45px 17px 63px;
    align-items: flex-start;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0px 4px 25.9px 0px rgba(255, 255, 255, 0.25);
}
.menu-subs-inner ul > div:first-child button.btn span {
    position: relative;
    right: 8px;
    font-weight: bold;
}
footer.footer-box ul li:first-child a {
    color: #FFF !important;
    font-family: Poppins;
    font-size: 14.625px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 36px;
    text-transform: uppercase;
}
footer.footer-box ul li:not(:first-child) a {
    color: #E3E3E3 !important;
    font-family: Poppins;
    font-size: 14.625px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    text-transform: uppercase;
}
.botom--footer >div:last-child {
    display: flex;
    justify-content: right;
    gap: 0 30px;
}

.row.botom--footer {
    padding: 30px 0;
    border-top: 1px solid #ffff;
}
.rectangle-div {
    display: none;
}


footer.footer-box .fluid {
    padding: 40px 0 0 0;
}

footer.footer-box .fluid .container-fluid .row {
    padding-bottom: 40px;
}
div#navbarNavDropdown .nav-item > a {
    color: #FFF;
    text-align: right;
    font-family: Nasalization;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
    text-transform: uppercase;
}
.botom--footer >div:last-child a {
    color: #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 13.016px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
}

footer.footer-box .fluid .container-fluid .row >div:first-child {
    color: #FFF;
    font-family: Poppins;
    font-size: 13.016px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
}
section.sc--footer-linkdden img {
    width: 100%;
    height: 100%;
}


footer.footer-box section {
    padding: 0;
}
.wrapper--footer-linkdden.container {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    right: 0;
    left: 0;
    height: 100%;
}

.img--footer-li {
    position: relative;
}

.wrapper--footer-linkdden.container > div {
    width: 45%;
}

.item-wrapper-news h2 {
    color: #F5F5F5;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px; /* 116.667% */
    letter-spacing: -1.8px;
}

.wrapper--footer-linkdden.container > div:last-child {
    background-color: #fff;
    border-radius: 25px;
}

.new--link p {
    color: #656262;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
     /* 437.5% */
}

.new--link h4 {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
     /* 291.667% */
}

.new--link .new--link--lopp {
    padding: 30px;
}

.item-wrapper-news p {
    color: #656262;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
 
}
.item-wrapper-news h2 + p{
    color: #F5F5F5;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 187.5% */
}
.new--link--lopp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.new--link--lopp div:last-child button {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 0 28px;
}



.new--link--lopp div:last-child {
    width: 50%;
}

.new--link--lopp div:first-child {
    width: 50%;
}

.new--link--lopp div:last-child button svg {
    height: 20px;
}

.new--link--lopp div:last-child button svg path {
    fill: #fff;
}
.search--bar {
    display: none;
    background-color: #fff;
    height: 70px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 20;
    left: 0;
    box-shadow: 6px 0 0px rgb(0 0 0 / 50%);
}
.search--bar .search--bar-inner {
    display: flex;
    background-color: transparent;
}
.search--bar-inner form {
    flex: 1;
}
.search--bar .search--bar-inner>button {
    width: 70px;
    height: 70px;
    background: linear-gradient(62deg, #5704E0 -6.64%, #F331EA 61.3%, #950085 97.54%, #9E0099 151.12%);
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 0;
}
.main-menu button>i {
    color: #fff;
}
.btn-search-submit {
    width: 100%;
}
.input--text {
    box-shadow: 0 3px 20px rgba(31, 59, 125, .16);
}
.btn-search-submit input[type=text], .btn-search-submit input[type=search] {
    border: none;
    border-radius: 0%;
    width: 100%;
    background-color: transparent;
    text-align: center;
    color: #85746D;
    font-size: 25px;
    height: 70px;
    margin-top: 0;
    border: 0;
    outline: 0;
}
.btn-search-submit input[type="submit"] {
    border: 2px solid #2A80C0;
    width: 97px;
    height: 58px;
    cursor: pointer;
    background-color: transparent;
    border-top: 2px solid #2A80C0;
    border-left: 2px solid #2A80C0;
    border-right: 2px solid #2A80C0;
    border-bottom: 2px solid #2A80C0;
    border-color: #2A80C0;
    outline: 0;
    color: transparent;
    background-color: #0A2F66;
    background-position: center;
    border-radius: 17px;
    position: absolute;
    right: 0;
}
#right--multi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item.multilingue button {
    display: flex;
    color: #FFF;
    text-align: right;
    font-family: Nasalization;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    box-shadow: initial;
    background-color: transparent;
    border: 0;
    align-items: center;
    flex-direction: row;
    gap: 0 6px;
}
.action-gototop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: block;
    width: 45px;
    height: 45px;
    background: white;
    margin: 0;
    opacity: 0;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
    pointer-events: none;
    padding: 0;
    z-index: 999;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 30px;
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 91px;
    height: 91px;
    background: linear-gradient(193deg, #5704E0 -14.96%, #F331EA 89.97%, #9E0099 109.32%, #950085 251.68%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.action-gototop svg {
    width: 58px;
    height: 58px;
}

button.btn.search-btn i {
    width: 30px;
    height: 32.017px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

button.btn.search-btn {
    align-items: center;
    display: flex;
    justify-content: center;
}
#right--multi .dropdown-toggle::after{
    display: none;
}
.custom-header {
    z-index: 999;
}
/*  */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
}
#loader {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

#preloader-text {
    margin-top: 20px;
    font-size: 24px;
    color: white;
    animation: fadeOut 3s ease-in-out forwards;
}

/* Keyframes for spinning animation */
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Keyframes for fade-out effect */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
html, body {
    overflow: auto;
}
/* Slider  */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity:0.6;
}




/**
 * Button
 */
.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn-transparent:hover {
  background-color: #fff;
}

.btn-rounded {
  border-radius: 70px;
}

.btn-large {
  padding: 11px 45px;
  font-size: 18px;
}

/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

#slider-mobisl .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    width: 100%;
    pointer-events: none; /* Ensures the text doesn't interfere with interactions */
  }
  
  #slider-mobisl .carousel-inner img {
    width: 100%;
  }
  
  #slider-mobisl .carousel-caption h5, 
  #slider-mobisl .carousel-caption p {
    margin: 0;
    color: white; /* Adjust color as needed */
    animation: topUp 1s ease-out; /* Adds animation */
  }
  
  /* Top-up animation */
  @keyframes topUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  div#slider-mobisl h5 {
    display: flex;
width: 791px;
height: 152px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF;
    font-family: Nasalization;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 63px; /* 126% */
}

div#slider-mobisl p {
    width: 513px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}
@keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-up {
    animation: slideUp 1s ease-out;
  }
  .animate--icon {
    position: absolute;
    bottom: 0;
    top: 50%;
    right: 60px;
}
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Move up by 20px */
    }
    100% {
      transform: translateY(0); /* Move back to original position */
    }
  }

  .animate--icon img {
    animation: moveUpDown 2s ease-in-out infinite;
  }